body{
    margin: 0;
    font-family: Arial,sans-serif;
    background: url('WhatsApp\ Image\ 2025-07-16\ à\ 06.30.13_23e4fade.jpg') no-repeat  center/cover  ;
    color: white;
    text-align: center;

}

header{
    background-color: black;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    height: 40px;
}

nav ul{
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a{
    color: white;
    text-decoration: none;
}
a{
    color: white;
    text-decoration: none;
}

main{
    padding: 80px 20px;

}

.boutons{
    display: flex;
    justify-content: center;
    gap: 80px;
    margin-top: 40px;
}

.carte{
    background-color: white;
    color: black;
    padding: 20px;
    border-radius: 10px;
    width: 200px;
}

.carte button {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
}

footer{
    background-color: black;
    color: white;
    padding: 20px;
    margin-top: 40px;
    font-weight: bold;

}
footer a{
    text-decoration: none;
    color: white;
}

.bloc-image {
    content: "";
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: -1;


}
