body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: url('../images/v2.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ror {
    background: rgba(0, 0, 0, 0.5); /* noir semi-transparent */
    border-radius: 20px;
    padding: 40px;
    width: 350px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    color: white;
}

.ror h1 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 20px;
    color: #ffffff;
}

.ror label {
    display: block;
    margin-top: 15px;
    font-weight: 500;
    color: #ffffff;
}

.ror input,
.ror select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: none;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    color: black;
    font-size: 14px;
    outline: none;
}

.ror input::placeholder {
    color: #ddd;
}

.ror button {
    width: 100%;
    margin-top: 20px;
    padding: 12px;
    border: none;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s ease;
}

.ror button:hover {
    background-color: rgba(255, 255, 255, 0.4);
    color: black;
}
